@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}
#interactions{
  position: absolute;
  top:12%;
  left:.4%;
  display: flex;
  flex-direction: column;
  gap:5px
}

.icons{
  font-size: 1.5em;
}

.bg-gray{
  background-color:rgb(66, 65, 65);
}